.toggle-text {
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  color: #5A9BF6;
}

.toggle-button {
  background: none;
  border: none;
  color: #5A9BF6;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1rem;
}

.toggle-button:hover {
  color: #FFC107;
}
